p----------13

/* CONTACT PAGE */

.contact-page{

max-width:900px;
margin:80px auto;
padding:20px;
text-align:center;

}


/* INTRO */

.contact-intro{
margin-bottom:50px;
  align-items:center;
  text-align:center;
}

.contact-intro h1{
font-size:28px;
margin-bottom:10px;
  align-items:center;
  text-align:center;
}

.contact-intro p{
color:#555;
line-height:1.6;
  text-align:center;
  align-items:center;
}


/* GRID */

.contact-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px;

margin-top:40px;
margin-bottom:60px;

}


/* CARD */

.contact-card{

background:#ffffff;

padding:35px 25px;

border-radius:16px;

text-decoration:none;

color:#2b2b2b;

box-shadow:0 12px 30px rgba(0,0,0,0.08);

transition:all .35s ease;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

text-align:center;

min-height:180px;

}


/* ICON */

.contact-icon{

width:48px;
margin-bottom:18px;

}


/* TEXT */

.contact-card h3{
margin:6px 0;
font-size:20px;
  
}

.contact-card p{
margin:4px 0;
font-size:15px;
}

.contact-card span{
font-size:14px;
color:#777;
}


/* HOVER */

.contact-card:hover{

background:#2e6b46;
color:#ffffff;

transform:translateY(-6px) scale(1.03);

box-shadow:0 30px 70px rgba(0,0,0,0.25);

}

.contact-card:hover span{
color:#ffffff;
}


/* LOCATION */

.location{
margin-top:20px;
  align-items:center;
  text-align:center;
}

.location h2{
margin-bottom:8px;
font-size:24px;
  text-align:center;
  align-items:center;
}

.location p{
color:#555;
  text-align:center;
  align-items:center;
font-size:17px;
}



/* ============================= */
/* MOBILE ONLY CHANGES */
/* ============================= */

@media(max-width:800px){

/* reduce space below navbar */

.contact-page{
margin:30px auto 60px;
padding:20px 30px;
}


/* stack cards */

.contact-grid{
grid-template-columns:1fr;
gap:25px;
}


/* card height smaller */

.contact-card{
min-height:160px;
padding:28px 20px;
}


/* location spacing */

.location{
margin-top:35px;
}

}


